* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	background: #151515;
	color: #fff;
	font-family: 'Courier New', monospace;
}

.container {
	max-width: 800px;
	margin: 0 auto;
	padding: 50px;
}

h1 {
	font-size: 4em;
	margin-bottom: 50px;
	text-align: center;
	text-shadow: 0 0 20px #00bebe;
}
form {
	display: flex;
	flex-direction: column;
	align-items: center;
}
form label {
	font-size: 1.5em;
	margin-bottom: 20px;
	text-shadow: 0 0 10px #00bebe;
}

form input[type="text"] {
	width: 100%;
	padding: 10px;
	border-radius: 5px;
	border: none;
	margin-bottom: 20px;
	background-color: rgba(255, 255, 255);
	
	font-size: 1.2em;
}

button[type="submit"] {
	background-color: #ed68ff;
	color: #fff;
	border: none;
	border-radius: 5px;
	padding: 10px 20px;
	font-size: 1.2em;
	text-shadow: 0 0 10px #ed68ff;
	transition: all 0.2s ease-in-out;
}

button[type="submit"]:hover {
	background-color: #00bebe;
	color: #fff;
	text-shadow: 0 0 20px #00bebe;
	box-shadow: 0 0 20px #00bebe;
	cursor: pointer;
}


ul {
	list-style: none;
	padding: 0;
}

li {
	font-size: 1.5em;
	padding: 10px;
	margin: 2em;
	background-color: rgba(100, 100, 100, 0.5);
	border-radius: 5px;
	text-align: center;
	text-shadow: 0 0 10px #00ff00;
	box-shadow: 0 0 10px #00bebe;
}

li:last-of-type {
	border-bottom: none;
}

li .checkbox {
	margin-right: 10px;
}

li .task-name {
	flex-grow: 1;
	margin-right: 10px;
	font-size: 18px;
}

li .delete-button {
	background-color: #ed68ff;
	color: #fff;
	padding: 10px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	font-size: 18px;
}
#clock {
	font-size: 2em;
	font-weight: bold;
	text-align: center;
  }
  